<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Contact</title>
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <meta name="description" content="" />
</head>
<body style="display: flex; align-items: center; justify-content: center; flex-direction: column;" >
    <div style="display: flex; gap:2rem;"  >
        <img style="width: 200px; height: 125px"  src="https://nirvana-public.s3.us-west-2.amazonaws.com/landing/src/assets/nirvana_isotipo_v2.0_rgb_color.png" alt="nirvana logo">
        <p style="font-size:48px">Información de contacto</p>

    </div>
    <div style="margin-top: 48px; display: flex; flex-direction: column;">
        <div style="display: flex; gap: 96px;">
            <p id="name">Nombre: {{name}}</p>
            <p id="email">Email: {{email}}</p>
        </div>

        <div style="display: flex; gap: 96px;">
            <p id="phone">Teléfono: {{phone}}</p>
            <p id="message">Mensaje: {{message}}</p>
        </div>
    </div>

    <div style="display: flex; justify-content: flex-end; width: 100%; padding-right: 24rem;">
        <p>Hora: {{date}}</p>
    </div>
    
    
      
</body>
</html>